# Ignore VSCode settings
.vscode/
build/
# Ignore shell scripts
build.sh
gitpush.sh

# asm files
hello.asm
printnum.asm

# 
hello.o
printnum.o

# Ignore compiled binary
main
hello
printnum

# Optional: ignore backup or swap files (if using editors like Vim)
*~
*.swp
